# main_playbook.yml
---
- name: 1. Aprovisionar Infraestructura para Game Center
  hosts: game_center
  gather_facts: no
  vars_files:
    - group_vars/ws1_gamecenter.yml

  tasks:
    - name: "Crear vSwitch interno para la LAN '{{ network_internal_name }}'"
      community.vmware.vmware_vswitch:
        hostname: "{{ esxi_hostname }}"
        username: "{{ esxi_username }}"
        password: "{{ esxi_password }}"
        validate_certs: no
        switch: "{{ vswitch_internal_name }}"
        state: present

    - name: "Crear Port Group en el vSwitch para la LAN '{{ network_internal_name }}'"
      community.vmware.vmware_portgroup:
        hostname: "{{ esxi_hostname }}"
        username: "{{ esxi_username }}"
        password: "{{ esxi_password }}"
        validate_certs: no
        switch: "{{ vswitch_internal_name }}"
        portgroup: "{{ network_internal_name }}"
        state: present

    - name: "Desplegar las VMs del Game Center desde la plantilla"
      community.vmware.vmware_guest:
        hostname: "{{ esxi_hostname }}"
        username: "{{ esxi_username }}"
        password: "{{ esxi_password }}"
        validate_certs: no
        name: "{{ item.name }}"
        template: "{{ item.template }}"
        datastore: "{{ datastore }}"
        folder: "/{{ datastore }}/vm/"
        state: poweredon
        guest_id: "ubuntu64Guest" # Cambiar según la plantilla
        hardware:
          num_cpus: "{{ item.cpu }}"
          memory_mb: "{{ item.memory_mb }}"
        disk:
          - size_gb: "{{ item.disk_size_gb }}"
            type: thin
            datastore: "{{ datastore }}"
        networks: "{{ item.networks }}"
      loop: "{{ vms_to_create }}"

- name: 2. Aprovisionar Infraestructura para Laboratorio Academico
  hosts: academic_lab
  gather_facts: no
  vars_files:
    - group_vars/ws2_academiclab.yml

  tasks:
    - name: "Crear vSwitch interno para la LAN '{{ network_internal_name }}'"
      community.vmware.vmware_vswitch:
        hostname: "{{ esxi_hostname }}"
        username: "{{ esxi_username }}"
        password: "{{ esxi_password }}"
        validate_certs: no
        switch: "{{ vswitch_internal_name }}"
        state: present

    - name: "Crear Port Group en el vSwitch para la LAN '{{ network_internal_name }}'"
      community.vmware.vmware_portgroup:
        hostname: "{{ esxi_hostname }}"
        username: "{{ esxi_username }}"
        password: "{{ esxi_password }}"
        validate_certs: no
        switch: "{{ vswitch_internal_name }}"
        portgroup: "{{ network_internal_name }}"
        state: present

    - name: "Desplegar las VMs del Laboratorio Académico desde la plantilla"
      community.vmware.vmware_guest:
        hostname: "{{ esxi_hostname }}"
        username: "{{ esxi_username }}"
        password: "{{ esxi_password }}"
        validate_certs: no
        name: "{{ item.name }}"
        template: "{{ item.template }}"
        datastore: "{{ datastore }}"
        folder: "/{{ datastore }}/vm/"
        state: poweredon
        guest_id: "ubuntu64Guest" # Cambiar según la plantilla
        hardware:
          num_cpus: "{{ item.cpu }}"
          memory_mb: "{{ item.memory_mb }}"
        disk:
          - size_gb: "{{ item.disk_size_gb }}"
            type: thin
            datastore: "{{ datastore }}"
        networks: "{{ item.networks }}"
      loop: "{{ vms_to_create }}"