---
- name: "Fase 1: Configurar el Servidor FOG (AlmaLinux)"
  hosts: almalinux_control_node
  become: true
  
  pre_tasks:
    - name: "Actualizar caché de DNF"
      ansible.builtin.dnf:
        update_cache: yes
      tags: [always]

  roles:
    - role: common
    - role: manage_users
    - role: security_hardening
    - role: manage_storage
    #- role: manage_maintenance
    
    #- role: install_fog
  
  #post_tasks:
  #  - name: "Configuración del servidor completada"
  #    ansible.builtin.debug:
  #      msg: "El servidor FOG ha sido configurado y asegurado."

- name: "Fase 2: Configurar Clientes del Laboratorio (Linux Mint)"
  hosts: linux_clients
  become: true
  pre_tasks:
    - name: "Verificar conectividad SSH con los clientes"
      ansible.builtin.ping:
      tags: [always]

  roles:
    - role: configure_linux_clients