---
- name: Instalar utilidades de sistema de archivos (para ext4/xfs)
  ansible.builtin.dnf:
    name:
      - xfsprogs
      - e2fsprogs
    state: present

- name: Crear sistema de archivos en los volúmenes
  community.general.filesystem:
    fstype: "{{ item.fstype }}"
    dev: "{{ item.device }}"
  loop: "{{ storage_volumes_to_manage }}"

- name: Crear puntos de montaje
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: '0755'
  loop: "{{ storage_volumes_to_manage }}"

- name: Montar volúmenes en /etc/fstab
  ansible.posix.mount:
    path: "{{ item.path }}"
    src: "{{ item.device }}"
    fstype: "{{ item.fstype }}"
    opts: defaults
    state: mounted
  loop: "{{ storage_volumes_to_manage }}"