---
- name: "Formatear y montar volúmenes de almacenamiento"
  community.vmware.vmware_vm_shell:
    hostname: "{{ ansible_host }}"
    username: "{{ esxi_user }}"
    password: "{{ esxi_password }}"
    validate_certs: no
    vm_name: "{{ item_vm }}"
    vm_username: "{{ vm_guest_admin_user }}"
    vm_password: "{{ vm_guest_admin_pass }}"
    vm_shell: "/bin/bash"
    vm_shell_args: |
      -c '
      (
        mkfs.{{ item_vol.fstype }} {{ item_vol.device }} &&
        mkdir -p {{ item_vol.path }} &&
        mount {{ item_vol.device }} {{ item_vol.path }} &&
        echo "{{ item_vol.device }} {{ item_vol.path }} {{ item_vol.fstype }} defaults 0 0" >> /etc/fstab
      ) || echo "El disco ya está montado o hubo un error"
      '
  loop: "{{ vms_target_list }}"
  loop_control:
    loop_var: item_vm
  with_nested:
    - "{{ storage_volumes_to_manage }}"
    - "{{ vms_target_list }}"
  vars:
    item_vol: "{{ item[0] }}"
    item_vm: "{{ item[1] }}"