---
- name: "Instalar utilidades de disco (e2fsprogs)"
  ansible.builtin.dnf:
    name: e2fsprogs
    state: present

- name: "Crear sistema de archivos ext4 en /dev/sdb"
  community.general.filesystem:
    fstype: ext4
    dev: /dev/sdb

- name: "Crear punto de montaje para imágenes FOG"
  ansible.builtin.file:
    path: /mnt/fog_images
    state: directory
    mode: '0755'

- name: "Montar disco de imágenes FOG permanentemente"
  ansible.posix.mount:
    path: /mnt/fog_images
    src: /dev/sdb
    fstype: ext4
    state: mounted