---
- name: "Gestionar cuentas de usuario"
  community.vmware.vmware_vm_shell:
    hostname: "{{ ansible_host }}"
    username: "{{ esxi_user }}"
    password: "{{ esxi_password }}"
    validate_certs: no
    vm_name: "{{ item_vm }}"
    vm_username: "{{ vm_guest_admin_user }}"
    vm_password: "{{ vm_guest_admin_pass }}"
    vm_shell: "/bin/bash"
    vm_shell_args: "-c 'useradd -m -g {{ item_user.groups }} {{ item_user.name }} || usermod -g {{ item_user.groups }} {{ item_user.name }}'"
  with_nested:
    - "{{ users_to_manage }}"
    - "{{ vms_target_list }}"
  vars:
    item_user: "{{ item[0] }}"
    item_vm: "{{ item[1] }}"