---
- name: Gestionar cuentas de usuario
  ansible.builtin.user:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
    groups: "{{ item.groups | default(omit) }}"
    append: yes
  loop: "{{ users_to_manage }}"
  when: users_to_manage is defined

- name: Configurar permisos de sudo
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/90-ansible-{{ item.name }}
    line: "{{ item.name }} ALL=(ALL) NOPASSWD: ALL"
    create: yes
    mode: '0440'
  loop: "{{ users_to_manage }}"
  when: item.sudo is defined and item.sudo == true and item.state | default('present') == 'present'