---
# roles/configure_windows_clients/tasks/main.yml

- name: "Clientes Windows | Establecer el plan de energía a 'Alto rendimiento'"
  ansible.windows.win_shell: powercfg -setactive SCHEME_MIN
  changed_when: false # El comando no reporta "cambio", así que lo forzamos
  tags:
    - optimizacion

- name: "Clientes Windows | Deshabilitar la hibernación (libera espacio)"
  ansible.windows.win_shell: powercfg.exe /hibernate off
  changed_when: false
  tags:
    - optimizacion

- name: "Clientes Windows | Crear script de inicio de servicio CS 1.6 (.bat)"
  ansible.windows.win_copy:
    content: |
      cd "C:\Program Files (x86)\Counter-Strike 1.6"
      "C:\Program Files (x86)\Counter-Strike 1.6\hlds.exe" -game cstrike +sv_lan 0 +map de_dust2 +maxplayers 16 -nomaster -insecure -console
    dest: C:\CS16_Server_Start.bat

- name: "Clientes Windows | Crear e iniciar el servicio para el servidor de CS 1.6"
  ansible.windows.win_service:
    name: "CS16_Server_UPeU"
    display_name: "CS 1.6 Dedicated Server (LAN)"
    description: "Inicia el servidor HLDS para el Game Center"
    # El path ahora es el script .bat simple
    path: C:\CS16_Server_Start.bat
    start_mode: auto
    state: started
    # FIX: Añadir el usuario y la contraseña del servicio
    username: "{{ ansible_user }}"
    password: "{{ ansible_password }}"

- name: "Clientes Windows | Iniciar el servicio del servidor de CS 1.6"
  ansible.windows.win_service:
    name: "CS16_Server_UPeU"
    state: started