---
- name: Determinar variables específicas del host
  ansible.builtin.set_fact:
    dhcp_subnet: "{{ dhcp_subnet_game if inventory_hostname == vm_name_game else dhcp_subnet_acad }}"
    dhcp_netmask: "{{ dhcp_netmask_game if inventory_hostname == vm_name_game else dhcp_netmask_acad }}"
    dhcp_range_start: "{{ dhcp_range_start_game if inventory_hostname == vm_name_game else dhcp_range_start_acad }}"
    dhcp_range_end: "{{ dhcp_range_end_game if inventory_hostname == vm_name_game else dhcp_range_end_acad }}"
    dhcp_router: "{{ dhcp_router_game if inventory_hostname == vm_name_game else dhcp_router_acad }}"
    internal_if: "{{ internal_if_game if inventory_hostname == vm_name_game else internal_if_acad }}"

- name: Habilitar IP Forwarding
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: Configurar NAT en UFW
  ansible.builtin.blockinfile:
    path: /etc/ufw/before.rules
    block: |
      *nat
      :POSTROUTING ACCEPT [0:0]
      -A POSTROUTING -s {{ dhcp_subnet }}/24 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
      COMMIT
    marker: "# ANSIBLE MANAGED BLOCK FOR NAT"

- name: Establecer política de FORWARD en UFW
  ansible.builtin.lineinfile:
    path: /etc/default/ufw
    regexp: '^DEFAULT_FORWARD_POLICY='
    line: 'DEFAULT_FORWARD_POLICY="ACCEPT"'
  notify: Reiniciar UFW

- name: Instalar servidor DHCP
  ansible.builtin.apt:
    name: isc-dhcp-server
    state: present

- name: Configurar interfaz para DHCP
  ansible.builtin.lineinfile:
    path: /etc/default/isc-dhcp-server
    regexp: '^INTERFACESv4='
    line: 'INTERFACESv4="{{ internal_if }}"'
  notify: Reiniciar DHCP

- name: Generar configuración de DHCP
  ansible.builtin.template:
    src: dhcpd.conf.j2
    dest: /etc/dhcp/dhcpd.conf
  notify: Reiniciar DHCP

handlers:
  - name: Reiniciar DHCP
    ansible.builtin.service:
      name: isc-dhcp-server
      state: restarted

  - name: Reiniciar UFW
    community.general.ufw:
      state: reloaded