---
- name: Instalar paquetes comunes
  ansible.builtin.dnf:
    name: "{{ common_packages }}"
    state: present

- name: Habilitar y iniciar el servicio de firewall
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: yes