---
- name: "Instalar paquetes base (dnf-plugins, EPEL, git)"
  ansible.builtin.dnf:
    name:
      - git
      - htop
      - dnf-plugins-core
      - epel-release
    state: present

- name: "Habilitar repositorio CRB (para AlmaLinux 9+)"
  ansible.builtin.command: dnf config-manager --set-enabled crb
  changed_when: false

- name: "Habilitar servicios base (chrony)"
  ansible.builtin.systemd:
    name: chronyd
    enabled: true
    state: started