---
- name: "Instalar FOG | Descargar el instalador"
  ansible.builtin.git:
    repo: 'https://github.com/FOGProject/fogproject.git'
    dest: /opt/fogproject
    version: '1.5.10'

- name: "Instalar FOG | Ejecutar el instalador"
  ansible.builtin.command:
    cmd: ./installfog.sh -y
  args:
    chdir: /opt/fogproject/bin
    creates: /var/www/html/fog/index.php